*{
    margin:0;
    padding: 0;
}
#main{
    width: 100%;
    background:url(sil1.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
#navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding:15px 0;
    align-items: center;
    justify-content:space-between;
    
}
#navbar.logo{
    cursor: pointer;
    margin-top: -3px;
    margin-left: -2px;
}
ul{
    margin-top: -10px;
    margin-right: -60px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(85, 141, 121);
    margin-top: -3%;
    transition:0.5s ease;
}
    
ul li a:hover{
    color: rgb(219, 83, 155);
    
}
#info{
    margin-left: 7%;
    margin-top: 6% ;
}

#info{
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 35px;
}
#info span{
    color: rgb(205, 67, 101);
}
#info a{
    text-decoration: none;
    color: rgb(27, 44, 47);
    background-color:rgb(236, 189, 201); ;
    margin: 25px 0;
    padding: 12x 20px;
    border-radius: 15px;
    display: inline-block;
    transition: 0.5s ease;

}
#info a:hover{
    background-color:rgb(76, 195, 195) ;
}
#image{
    width:30%;
    height:60%;
    position: absolute;
    right: 50px;
    bottom:100px;
}

#image:hover{
    left:70%;
}
#icons a{
    text-decoration: none;
    color: black;

}
#icons ion-icon{
    margin-left: 7%;
    color:black;
    margin-right: -6px;
    font-size: 40px;

}
#icons ion-icon:hover{
    color: rgb(205, 67, 101) ;
}







    

    